@model MvcMovie.Models.MovieGenreViewModel

@{
    ViewData["Title"] = "Index";
}

<div class="container-carousel">
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="case-overflow">
                    <img src="/css/backgrounds/meet-the-mormons.png" alt="...">
                </div>
            </div>
            <div class="carousel-item">
                <div class="case-overflow">
                    <img src="/css/backgrounds/Ephraims-rescue.png" alt="...">
                </div>
            </div>
            <div class="carousel-item">
                <div class="case-overflow">
                    <img src="/css/backgrounds/once-i-was-a-beehive.png" alt="...">
                </div>
            </div>
            <div class="carousel-item">
                <div class="case-overflow">
                    <img src="/css/backgrounds/the-other-side-of-heaven.png" alt="...">
                </div>
            </div>
        </div>
        <!--<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>-->
    </div>
</div>
<div class="full-cont-movie">
    <div class="cont-body">
        <div class="movies">
            <nav>
                <div class="logo-header">
                    <img src="/css/logo/logo.png" />
                </div>
                <div class="menu">
                    <ul>
                        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#aboutUs">About Us</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#Privacy">Privacy</a></li>
                    </ul>
                </div>
            </nav>

            
                <div class="Title">
                    <h1>Movies</h1>
                    <p><a asp-action="Create">Add a new Movie</a></p>
                </div>
                <div class="Filter">
                    <form asp-controller="Movies" asp-action="Index" method="get">
                        <select asp-for="MovieGenre" asp-items="Model.Genres">
                            <option value="">All</option>
                        </select>

                        <input type="text" asp-for="SearchString" />
                        <input class="btn-filter" type="submit" value="Filter" />
                    </form>
                </div>
                <div class="container-overflow">
                    <div class="movies-container">
                         @foreach (var item in Model.Movies!.OrderByDescending(item => item.ReleaseDate))
                         {

                            <a class="ancla" asp-action="Details" asp-route-id="@item.Id">
                            <div class="cont-box">
                                <div class="box">
                                    <div class="info">
                                        <span>@Html.DisplayFor(modelItem => item.ReleaseDate)</span>
                                        <span>@Html.DisplayFor(modelItem => item.Genre)</span>
                                    </div>
                                    <div class="img">
                                        <img src="@Html.DisplayFor(modelItem => item.Image)" />
                                    </div>
                                </div>
                                <div class="title-movie">
                                    <p>@Html.DisplayFor(modelItem => item.Title)</p>
                                </div>
                            </div>
                            </a>
                    
                         }

                    </div>
                </div>

        </div>
    </div>
</div>


<!--<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Movies![0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies![0].ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies![0].Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies![0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies![0].Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies![0].Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies![0].Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.Movies!.OrderByDescending(item => item.ReleaseDate))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Image)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>-->